<section class="hero" id="hero">
  <div class="hero-text">
    <h2
      class="text-fuchsia-500 text-shadow-sm shadow-slate-500 dark:text-fuchsia-500 dark:shadow-black dark:text-shadow-sm"
    >
      Hi, ich bin
    </h2>
    <h1 class="dark:shadow-black text-shadow-sm">Tobias Wehrle</h1>
    <h2
      class="text-purple-800 text-shadow-sm shadow-fuchsia-600 dark:text-purple-700 dark:shadow-black"
    >
      Developer; Trainer; Gamer;
    </h2>
    <p
      class="text-shadow-sm shadow-slate-100 dark:text-slate-200 dark:shadow-black"
    >
      <span class="text-fuchsia-500 scale-150 inline-block">”</span> Leidenschaftlicher
      Beibringer von Wissen und Programmierer. In meiner Welt verschmelzen Technologie
      und Bildung zu einzigartigen Erlebnissen. Stets auf der Suche nach neuen Herausforderungen
      und Wegen, um Wissen spielerisch zu vermitteln. <span
        class="text-fuchsia-500 scale-150 inline-block">“</span
      >
    </p>
  </div>
  <img src="/me.png" alt="Image of myself" />
</section>
<style>
  section.hero {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    place-content: center;
    place-items: center;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
  }

  section.hero .hero-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 100%;
    max-width: 70ch;
    min-width: 40ch;
  }
  @media (min-width: 1250px) {
    section.hero .hero-text {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }
  section.hero .hero-text h1,
  h2 {
    margin: 0 auto;
    font-weight: 400;
    text-wrap: nowrap;
  }

  section.hero .hero-text h1 {
    font-size: 3em;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .hero-text p {
    margin: 2rem;
    font-size: 1.2em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }

  .hero img {
    max-height: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 50%;
    min-width: 200px;
    width: 100%;
    flex-shrink: 1;
  }
  @media only screen and (max-width: 1024px) {
    section.hero {
      grid-template-columns: 1fr;
    }
    section.hero img {
      grid-row: 1;
    }
  }
</style>
