---
import { Navbar } from "@/components/navbar.tsx";
import "src/utils/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/fonts/font-faces.css" />
  </head>
  <body class="">
    <header class="px-3 mt-2 sticky top-0">
      <Navbar client:load />
    </header>
    <main class="mt-12 p-4 w-full scroll-smooth">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    /* Dark-Mode with deep-magenta primary color and purple secondary color */
    --primary-color: #8d1cf7;
    --secondary-color: #fc0db0;
    --background-color: #121212;
    scroll-behavior: smooth;
  }
  .text-accent {
    color: var(--secondary-color);
  }
  .text-primary {
    color: var(--primary-color);
    text-shadow: 1px 1px 2px darkslategray;
  }
  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    max-width: 1300px;
    overflow-x: auto;
  }
  body {
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(15ch, 25ch) auto;
    overflow: hidden;
  }
  main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  @media screen and (max-width: 768px) {
    body header {
      display: none;
    }
    body main {
      grid-column: span 2;
    }
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
